<?xml version="1.0"?>
<acl>
    <resources>
        <r0001 resource="default:auth" />
        <r0002 resource="default:index" />
        <r0003 resource="default:usuarios" />
        <r0004 resource="default:error" />
        <r0005 resource="default:application" />
        <r0006 resource="default:eventos" />
        <r0007 resource="default:divulgadores" />
        <r0008 resource="default:inscricoes" />
        <r0009 resource="default:lancamentos" />
    </resources>
    <roles>
        <r0001 role="guest" />
        <r0002 role="registered" inherit="guest" />
        <r0003 role="admin"  inherit="registered" />
        <r0004 role="usuario"  inherit="registered" />
    </roles>
    <allow>
        <a0001 role="guest" resource="default:auth" privileges="index,logout,request-password" />
        <a0003 role="admin" resource="default:auth" />
        <a0004 role="admin" resource="default:index" />
        <a0005 role="admin" resource="default:usuarios" />
        <a0006 role="guest" resource="default:error" />
        <a0007 role="admin" resource="default:application" />
        <a0008 role="admin" resource="default:eventos" />
        <a0009 role="admin" resource="default:divulgadores" />
        <a0010 role="admin" resource="default:inscricoes" />
        <a0011 role="admin" resource="default:lancamentos" />
    </allow>
</acl>
